<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "thorarinnt@tmsoftware.is"
        versionCode = "1"
        version     = "1.0.0" >

    <name>Liveshop</name>

    <description>
        Live customer interaction
    </description>

    <author href="http://offorsi.is" email="thorarinnt@tmsoftware.is">
        Thorarinn Tomasson
    </author>

    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />
</widget>