<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "thorarinnt@tmsoftware.is"
        versionCode = "1"
        version     = "1.0.0" >

    <name>Liveshop</name>

    <description>
        Live customer interaction
    </description>

    <author href="http://offorsi.is" email="thorarinnt@tmsoftware.is">
        Thorarinn Tomasson
    </author>
    <platform name="android">
    <icon src="ic_launcher/res/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="ldpi" />
    <icon src="ic_launcher/res/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="ic_launcher/res/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="ic_launcher/res/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="ic_launcher/res/mipmap-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
    <icon src="ic_launcher/res/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="xxxhdpi" />
    <icon src="ic_launcher/res/mipmap-fr-xxhdpi/ic_launcher.png" platform="android" qualifier="fr-xxhdpi" />
    </platform>


    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />
</widget>